<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>

    <body>
        <header class='idx-header'>
            <div class='idx-header-h1'>
                <a href="/expenses" class='header-a'>
                <h1>PFT</h1>
            </a>
            </div>
            <div class='idx-header-edit'>
                <a href="/expenses/new" class='header-a'>Add New Expense</a>
            </div>
        </header>

        <div class='cont-idx'>
            <ul style='list-style-type: none;'>
                <% allExpenses.forEach(expense=> { %>
                    <div class='cont-idx-box'>
                        <li class='cont-idx-row'>
                            <div class='name'>
                                <a href="/expenses/<%= expense._id %> " style='text-decoration: none;'>
                                    <%= expense.name; %>
                                </a>
                            </div>
                            <div class=amt>
                                <a href="/expenses/<%= expense._id %> " style='text-decoration: none;'>
                                    $ <%= expense.amount; %>
                                </a>
                            </div>
                            <div class='edit-btn'>
                                <a href="/expenses/<%=expense._id %>/edit" class='edit-text'
                                    style='text-decoration: none; text-transform: uppercase;'>Edit</a>
                                <span class='edit-icon'>
                                    <ion-icon name="create-outline"></ion-icon>
                                </span>
                            </div>
                            <br>
                            <div class='del-btn'>
                                <form action='/expenses/<%= expense._id %>?_method=DELETE' method='POST'>
                                    <input class='del-text' type="submit" value="DELETE"
                                        style='border: none; background: none;' />
                                    <span class='del-icon'>
                                        <ion-icon name="trash-outline"></ion-icon>
                                    </span>
                                </form>
                            </div>

                        </li>
                    </div>
                    <% }) %>
            </ul>

        </div>

        <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

    </body>

</html>