<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>

    <body>
        <header class='idx-header'>
            <div class='idx-header-h1'>
                <a href="/expenses" class='header-a'>
                    <h1>PFT</h1>
                </a>
            </div>
            <div class='idx-header-new'>
                <a href="/expenses/new" class='header-a'>New Expense</a>
            </div>
        </header>
        <div class='cont-idx'>
            <h1 class='idx-all-exp-title'>All Expenses</h1>
            <ul style='list-style-type: none;'>
                <% allExpenses.forEach(expense=> { %>
                    <div class='cont-idx-box'>
                        <li class='cont-idx-row'>
                            <div class='date'>
                                <a href="/expenses/<%= expense._id %> " style='text-decoration: none; color: black;'>
                                    <%= expense.date; %>
                                </a>
                            </div>
                            <div class='name'>
                                <a href="/expenses/<%= expense._id %> " style='text-decoration: none; color: black;'>
                                    <%= expense.name; %>
                                </a>
                            </div>
                            <div class=amt>
                                <a href="/expenses/<%= expense._id %> " style='text-decoration: none; color: black;'>
                                    $ <%= expense.amount; %>
                                </a>
                            </div>
                            <div class='edit-btn'>
                                <button class='edit-btn-btn'>
                                    <a href="/expenses/<%=expense._id %>/edit" class='edit-text'
                                        style='text-decoration: none; color: black; text-transform: uppercase;'>Edit</a>
                                </button>
                            </div>
                            <br>
                            <div class='del-btn'>
                                <button class='del-btn-btn'>
                                    <form action='/expenses/<%= expense._id %>?_method=DELETE' method='POST'>
                                        <input class='del-text' type="submit" value="DELETE"
                                            style='border: none; background: none;' />
                                    </form>
                                </button>
                            </div>

                        </li>
                    </div>
                    <% }) %>
            </ul>

        </div>


    </body>

</html>