<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/css/style.css">
        <title>PFT</title>
    </head>

    <header class='show-header'>
        <div class='show-header-h1'>
            <a href="/debit" class='header-a'>
                <h1>PFT</h1>
            </a>
        </div>
        <div class='show-header-new'>
            <a href="/debit/new" class='header-a'>New Expense</a>
        </div>
        <div class='show-header-home'>
            <a href="/debit" class='header-a'>All Expenses</a>
        </div>
    </header>

    <body>

        <div class='cont-new-form'>
            <h1 class='new-h1'>Edit Expense</h1>
            <form action="/debit/<%= debit._id %>?_method=PUT" method="POST">
                <fieldset class='new-info'>
                    <legend class='show-leg'>Expense Info</legend>
                    <label class='new-label'  for="name">Transaction Name</label>
                    <input type="text" name="name" value="<%=debit.name%>" id="name-new" /><br />
                    <label class='new-label'  for="date">Transaction Date</label>
                    <input type="text" name="date" value="<%=debit.date%>" id="date-new" /><br />
                    <label class='new-label'  for="amt">Amount</label>
                    <input type="text" name="amount" value="<%= debit.amount%>" id="amt-new" /><br />
                    <label class='new-label'  for="des">Description</label>
                    <input type='text' name="description" value=" <%=debit.description%>" id="des-edit" /><br />
                </fieldset>
                <input type="submit" class='new-submit' value="Edit Expense" />
            </form>
        </div>

    </body>


</html>