<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <title>PFT</title>
</head>

<body>
    <header class='idx-header'>
        <div class='idx-header-h1'>
            <a href="/" class='header-a'>
                <h1>PFT</h1>
            </a>
        </div>
        <div class='idx-header-new'>
            <a href="/debit/new" class='header-a'>New Debit Expense</a>
        </div>
        <div class='idx-header-new'>
            <a href="/" class='header-a'>PFT Dashboard</a>
        </div>
    </header>
    <div class='cont-idx'>
        <h1 class='idx-all-exp-title'>All Debit Expenses</h1>
        <ul style='list-style-type: none;'>
            <% allDebits.forEach(debit=> { %>
                <div class='cont-idx-box'>
                    <li class='cont-idx-row'>
                        <div class='date'>
                            <a href="/debit/<%= debit._id %> " style='text-decoration: none; color: black;'>
                                <%= debit.date; %>
                            </a>
                        </div>
                        <div class='name'>
                            <a href="/debit/<%= debit._id %> " style='text-decoration: none; color: black;'>
                                <%= debit.name; %>
                            </a>
                        </div>
                        <div class=amt>
                            <a href="/debit/<%= debit._id %> " style='text-decoration: none; color: black;'>
                                $ <%= debit.amount; %>
                            </a>
                        </div>
                        <div class='edit-btn'>
                            <a href="/debit/<%=debit._id %>/edit" style='text-decoration: none; color: black;'>
                                Edit
                            </a>
                        </div>

                        <div class='del-btn'>
                            <form action='/debit/<%= debit._id %>?_method=DELETE' method='POST'>
                                <input class='del-text' type="submit" value=" "
                                    style='border: none; background: none;' />
                                Delete
                            </form>
                        </div>

                    </li>
                </div>
                <% }) %>
        </ul>

    </div>

    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>