<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <title>PFT</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <h1 class="display-2 text-light">PFT</h1>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end align-center" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link indexnav active fs-4 text-light me-3" aria-current="page"
                            href="/credit/new">New
                            Credit Expense</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active indexnav fs-4 text-light" href="/">PFT Dashboard</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    <div class='container-fluid'>
        <h1 class='text-center mt-3'>All Credit Expenses</h1>
    </div>

    <ul style='list-style-type: none;'>
        <% allCredits.forEach(credit=> { %>
            <li>
                <div class="container mt-5">
                    <div class="row">
                        <div class='date col-md-1 col-3'>
                            <a href="/credit/<%= credit._id %> " style='text-decoration: none; color: black;'>
                                <%= credit.date; %>
                            </a>
                        </div>
                        <div class='name col-md-5 col-3 ps-5'>
                            <a href="/credit/<%= credit._id %> " style='text-decoration: none; color: black;'>
                                <%= credit.name; %>
                            </a>
                        </div>
                        <div class='amt col-md-2 col-2 text-end'>
                            <a href="/credit/<%= credit._id %> " style='text-decoration: none; color: black;'>
                                $<%= credit.amount; %>
                            </a>
                        </div>
                        <div class='edit col-2 d-none d-sm-block text-end'>
                            <a href="/credit/<%=credit._id %>/edit"
                                style='color: black; text-decoration: none;'>Edit</a>
                        </div>
                        <div class='del col-2 d-none d-sm-block' style>
                            <form action='/credit/<%= credit._id %>?_method=DELETE' method='POST'>
                                <input class='del-text' type="submit" value="Delete"
                                    style='border: none; background: none;' />
                            </form>
                        </div>
                        <div class='edit col-2 d-block d-sm-none text-end'>
                            <a href="/credit/<%=credit._id %>/edit" style='color: black; text-decoration: none;'>
                                <i class="bi bi-pencil-square"></i></a>
                        </div>
                        <div class='del col-2 d-block d-sm-none text-center pb-5'>
                            <form action='/credit/<%= credit._id %>?_method=DELETE' method='POST'>
                                <input class='del-text' type="submit" value=""
                                    style='border: none; background: none;' />
                                <i class="bi bi-trash-fill"></i>
                            </form>
                        </div>
                    </div>
                </div>
            </li>
            <% }) %>
    </ul>



    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>